body {
    background-color: black;
}

.wrapper {
    text-align: center;
    font-family: 'Tillana', cursive;
}

div {
    line-height: 0;
}

.instructions {
    line-height: 2em;
}

.cell {
    background-color: blue;
    display: inline-block;
    background-image: url("img/dirt-floor.png");
    background-size: contain;
}

.holder {
    position: relative;
}


#snake-head{
    /* background-color: green; */
    position: relative;
}

.wall, .breakable-wall, .coin, #snake-head, .holder, .enem, .escape, .cell{
    height: 20px;
    width: 20px;
}

.breakable-wall{
    background-color: green;
}

.wall{
    background-color: black;
}

.score {
    font-size: 2em;
}

img {
    height: 20px;
}

#sword {
    z-index: 1;
}

h1, h2, h3 {
    color: white;
}